html {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    height: 100%;
    margin: 0;
    user-select: none;

    button,
    input[type="text"] {
      border: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.25rem;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--slider-bg);
      height: 100%;
      margin: 0;
      outline: none;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background-color: black;
        cursor: pointer;
        height: 90%;
        width: 25px;
      }

      &::-moz-range-thumb {
        background-color: black;
        cursor: pointer;
        height: 90%;
        width: 25px;
      }
    }
  }
}
