@import "$lib/../mixins.scss";

html {
  height: 100%;

  body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    height: 100%;
    margin: 0;
    user-select: none;

    button,
    input[type="number"] {
      border: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
